:root{
    --students: #7929DCE5;
    --lectures: #F69B0DE5;
    --revenue: #14C354E5;
    --students: #4A8BF6;
    --courses: #D600B3D4;
    --new_admission:  #98FA81;
    --primary: #186318;
    --error: #D60A0B;
}
