@media screen and (max-width: 934px) {
    .hide{
        width: 45%;
    }
    
    .header{
        width: 100%;
    }
}

@media screen and (max-width: 897px) {
    .hide{
        display: none;
    }

    .header{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}